@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body, html{
    background-image: linear-gradient(to top,#242625,#ef8b1f, #fd7200);
}

main{
    position:relative;
    width: 100vw;
    height: 100vh;
    margin:auto;
}

main>section{
    position:absolute;
    display:flex;
    overflow:hidden;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: #f87f23;
    border: 1px solid black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.415);
    width:700px;
    height: 350px;
    border-radius: 20px;
    padding:0px;
}

main>section>section#foto{
    display:block;
    width: 46%;
    height: 100%;
    background-image: url(../imagens/equipe-Mscred.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

main>section>section#login{
    background-color: #f79730;
    border: 1px solid rgba(0, 0, 0, 0.738);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.415);
    box-sizing: border-box;
    display: block;
    width:54%;
    height: 190px;
    margin:10px;
    border-radius:20px;
    align-self:center;
}

section#box-formulario>h1{
    text-align: center;
    padding:6px 0px 0px 0px;
    font-size:2.4em;
}

section#box-formulario>p{
    text-align:center;
    font-size:1.2em;
}

form#formulario{
    padding:15px;
    text-align: center;
}

form>label{
    font-size:1.1em;
    font-weight: bold;
}