@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
}

body, html{
    background-image: linear-gradient(to top,#242625,#fd5d00, #fd5d00);
}

main{
    position:relative;
    width: 100vw;
    height: 100vh;
    margin:auto;
}

main>section{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: white;
    width:600px;
    height: 200px;
    border-radius: 20px;
    padding:20px;
}