@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body, html{
    background-image: linear-gradient(to top,#242625,#ef8b1f, #fd7200);
}

main{
    position:relative;
    width: 100vw;
    height: 100vh;
    margin:auto;
}

main>section{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: white;
    width:700px;
    height: 350px;
    border-radius: 20px;
    padding:0px;
}

main>section>section#foto{
    display:block;
    float: right;
    width: 46%;
    height: 100%;
    background-image: url(../imagens/equipe-Mscred.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

main>section>section#login{
    display: block;
    float:left;
    width:54%;
    padding:10px;
}